.user__container {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(9, 120, 121, 1) 0%,
    rgba(0, 255, 229, 1) 100%
  );
}

.user__title {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}
.input__content input {
  padding: 6px;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid green;
  background: transparent;
  color: rgb(255, 255, 255);
}

.input__content button {
  padding: 9px;
  font-size: 1rem;
  background: green;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}
