.user__container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

/* style for user box content   */

.user__box {
  border: 1px solid var(--mainColor);
  height: 80%;
  width: 70%;
  border-radius: 0.625rem;
  position: relative;
  max-width: 30rem;
  box-shadow: var(--shadow);
}

/* style for clip path  */

.clip__path {
  border-radius: 0.625rem;
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(9, 120, 121, 1) 0%,
    rgba(0, 255, 229, 1) 100%
  );
  clip-path: ellipse(76% 52% at 34% 19%);
  height: 78%;
  width: 100%;
  z-index: -1;
}

/* style for top arrow  */

.user__box .arrow__left,
.user__box .arrow__left svg {
  position: absolute;
  top: 5px;
  left: 7px;
  height: 2rem;
  color: rgb(255 255 255);
  cursor: pointer;
}

/* style for all content login and image  */

.controlAllcontent {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.user__profile .heading {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 0 0 1rem 1rem;
}
.user__profile img {
  aspect-ratio: 0.9/0.4;
}

/* style in user data  */
.user__data {
  width: 90%;
}

.input__box {
  width: 100%;
}

.input__conteiner {
  padding: 6px;
  border-bottom: 1px solid var(--mainColor);
  background: rgb(230 233 233);
  border-radius: 0.325rem 0.325rem 0 0;
  margin: 0.3125rem 0;
  color: rgb(0, 0, 0);
  gap: 5px;
}

.input__conteiner .userSvg svg {
  height: 1.4rem;
  width: 2.1rem;
  color: rgb(0, 0, 0);
}

.input__conteiner input {
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  width: 100%;
}

/* submit button style */

.user__data button {
  padding: 0.5625rem;
  font-size: 1rem;
  border: 1px solid var(--mainColor);
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: linear-gradient(
    135deg,
    rgba(9, 120, 121, 1) 0%,
    rgba(0, 255, 229, 1) 100%
  );
  width: 100%;
  margin-top: 1rem;
}

/* singup para  */

.sing__up {
  position: absolute;
  bottom: 0.625rem;
}
.sing_up_para {
  text-align: center;
  font-size: 0.8rem;
}
