.categorie__wrapper {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding: 0.625rem;
}

.categoriebadge {
  padding: 0.3125rem 0.625rem;
  display: grid;
  place-items: center;
  border-radius: 5rem;
  border: 1px solid var(--mainColor);
  box-shadow: var(--shadow);
  background: rgb(235 235 235);
  user-select: none;
}

.categoriebadge p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  white-space: nowrap;
}
